**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/node_modules
**/.svelte-kit
**/build
**/dist
**/.git
**/.gitignore
**/.github
**/.vscode
**/.idea
**/coverage
**/htmlcov
**/.coverage
**/config
**/data
*.md
!README.md
**/*.log
